@(username: String)

@main("Контакты") {

  <div class="navbar navbar-fixed-top"> <!--  navbar-fixed-top -->
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="@routes.Application.homepage">Главная страница</a></li>
            <li class="active"><a href="@routes.Application.about">О проекте</a></li>
            <li><a href="@routes.Application.contacts">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hero-unit clearfix container-fluid">
      <div class="pull-left">   
        <h2>О проекте</h2>    
          <p class="lead">
            Проект был инициирован в Новосибирском государственном университете в 2011 году и изначально определялся как некоммерческий: предполагалось создание программного продукта в рамках архитектуры web-приложений на основе современных технологий и свободно распространяемого программного обеспечения.
          </p>
          <p class="lead">
            Целью проекта являлось создание современной информационной системы для медицинского центра НГУ с уклоном на интеграцию с различными учебными процессами.            
          </p>
          <!-- <p class="lead">описание проекта</p> -->
          <!-- <p class="lead">ссылка на github, исходный код и прочее</p> -->
          <p class="lead">Исходный код: <a href="https://github.com/ArtemVoronov/mis_nsu">source</a> </p>
      </div>
    </div>
  </div>

  @footer()
}