@(form: Form[Application.Login])
<div class="well">
@helper.form(routes.Application.authenticate) {
    
    @if(form.hasGlobalErrors) { 
        <p class="error">
            @form.globalError.message
        </p>
    }
    
    @if(flash.contains("success")) {
        <p class="success">
            @flash.get("success")
        </p>
    }
    
    <label>Имя пользователя</label>
        <input type="text" name="email" class="span3" placeholder="" value="@form("email").value">
    <label>Пароль</label>
        <input type="password" name="password" class="span3" placeholder="">
    <label class="checkbox">
        <input type="checkbox">Запомнить меня
    </label>
    <button type="submit" class="btn">Войти</button>   
}
</div>

